<link rel="stylesheet" href="/css/header.css">
<ul id="header-section">
    <div class="heading">
        <h1>TODO</h1>
        <img id="theme-change" src="/images/icon-sun.svg" alt="sun">
    </div>
    <li class="enter-description">
        <input type="text" id="task-description" placeholder="Create a new task...">
    </li>
</ul>