<link rel="stylesheet" href="/css/header.css">
<ul id="header-section">
    <li class="heading">
        <h1>TODO</h1>
        <img src="/images/icon-sun.svg" alt="sun">
    </li >
    <li class="list-item">
        <input type="text" id="task-description"  placeholder="Create a new task...">
    </li>
    
</ul>