<link rel="stylesheet" href="/css/navigation.css">
<div>
    <form action="" method="post">
        <textarea></textarea>
        <option></option>
        <input type="date">
        <button type =submit></button>
        <button><a href=""></a></button>
    </form>
</div>