<link rel="stylesheet" href="/css/home.css">
<ul id="display">
    <% for (let task=tasks.length-1; task >=0  ; task--){%>
        <li class="to-do-items">
            <div class="to-do-item-container"> 
                <label>
                    <input type="checkbox" value="<%= tasks[task].id %>" name="task_status">
                        <%= tasks[task].description %>
                </label>
            </div>
            <a class="delete-task" href="/delete-task/<%= tasks[task].id %>">X</a>


        </li>
        <%}%>
            <li class="display-data">
                <div class="data">
                    <span>
                        <%= tasks.length %>
                    </span>
                    <span>ItemsLeft</span>
                </div>
                <div class="status">
                    <a href="/">All</a>
                    <a href="/completed-tasks">Completed</a>
                    <a href="/active-tasks">Active</a>
                </div>
                <div class="clear">
                    <span><a href="/clear/completed-tasks"> Clear completed</a></span>
                </div>
            </li>
</ul>

<script src="/js/home.js"></script>