<link rel="stylesheet" href="/css/home.css">
<ul id="display">
    <li class=" display-items">
        
    </li>
    <li class="display-data">
        <span>ItemsLeft</span>
        <span><a href=""> Clear completed</a></span>
    </li>
</ul>