<!DOCTYPE html>
<html lang="en">
<head>
    <%- style %>
    <link rel="stylesheet" href="/css/layout.css">
    <title>TODO_LIST</title>
</head>
<body>
    <div id="container">
        <div id="header-container">
            <%- include('_header.ejs'); %>
        </div>
        <div id="display-container">
            <%- body %>
        </div>
    </div>
    <%- script %>
</body>
</html>