#display {
  width: 500px; }
  #display li {
    color: #777a92;
    font-family: sans-serif;
    width: 100%;
    height: 50px;
    list-style: none; }
  #display .to-do-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white; }
    #display .to-do-items .to-do-item-container {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  #display .display-data {
    display: flex;
    align-items: center;
    justify-content: space-between; }
