#display{
    width: 500px;
  
    list-style: none;
    color: #777a92;
}
#display li{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid white;
    background-color: #25273c;
    font-size: 14px;
}
.display-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}
#display a{
    color: #777a92;
    text-decoration: none;
}
.display-data .status {
    width:200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.displayed-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.displayed-items p{
    width:400px;
    overflow-wrap: break-word;
}
.displayed-items input {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.displayed-items input :checked {
    background-color: gray;
}
/* 
.display-item input{

    height:40px;
    width:100%;
    background-color: rgb(14, 3, 3);
    border : none;
    border-radius: 10px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14 px;
    color: whitesmoke;

}
.list-item .placeholder {
    position: absolute;
    left: 12px;
    bottom: 50%;
    top: 22px;  
    transform: translateY(-50%);
    width: calc(100% - 24px);  
    color: #aaa;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } */